<div class="row">
  <div class="span10">
    <div class="div-on-left">
      <h4><a href="Issue 1">Issue #<%= @archive.id %> — <%= @archive.release_date %></a></h4>
      <br/>
      <strong> <p><%= @tip_number %></p></strong>
      <br/>
      <strong> <p>Tip 2</p></strong>
      <br/>
      <strong> <p>Tip 3</p></strong>
      <br/>
      <strong> <p>Tip 4</p></strong>
      <br/>
      <strong> <p>Tip 5</p></strong>
      <br/>
    </div>
  </div>
</div>
<%= @archive.inspect %>
