<div class="div-on-left">
  <h3>About</h3>
  <p>Vim Weekly is heavily based on community input, blogs, stackoverflows, books, dot files as well as the the ultimate vim manual. <a href="https://github.com/tawrahim/">Tawheed Raheem</a> serves as the door to this amazing project. </p>
</div>
