<div class="div-on-left">
  <h3>About</h3>
  <p>Vim Weekly is heavily based on community input, blogs, stackoverflows, books, dot files as well as the the ultimate vim manual. <a href="https://github.com/tawrahim/">Tawheed Raheem</a> serves as the door to this amazing project. </p>
  <br />
  <h3>Credit</h3>
  <p>To see clickable links to the author/sources of all the tips see the <a href="https://github.com/vimweekly/tips/blob/master/PUBLISHED.md">published tips</a> page on github</p>
  <br />
  <h3>Contributing</h3>
  <p>If you think you have discovered a tip that the community might benefit, please modify the <a href="https://github.com/vimweekly/tips/blob/master/TO_BE_PUBLISH.md">TO_BE_PUBLISH.md</a> file on github</p>
  <p>You can also tweet or send an email to us!</p>
</div>
