<div class="row">
  <div class="span5">
    <div class="div-on-left">
      <h1>Five vim tips for your week</h1>
      <br/>
      <p>Vim is awesome, fun and powerful! Vim has lots of hidden features that we
      don't use. Every monday, we send 5 tips that can help boost your vim productivity
      you can think of it as one tip per day!</p>
      <br/>
      <a href="/issues" class="btn btn-success btn-large btn-wide">
        View Archives<br/>
        <small>Past issues of vim-weekly</small>
      </a>
    </div>
  </div>
  <div class="span5">
    <img src="/assets/vim-editor_logo.png" alt="code environment"/>
  </div> 
</div><!-- end of inner .row-->

<br/>

<br/>
<div class="row">
  <div class="span9 offset40px">
    <div class="well email-subscribe">
      <div id="mc_embed_signup" class="center-align">
        <form action="http://tawheedraheem.us5.list-manage1.com/subscribe/post?u=6ad5cec1778231d2289e8a142&amp;id=e7b2432770" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank">
          <label for="mce-EMAIL">Five vim tips brewed every Monday's to your mailbox</label>
          &nbsp;
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" >
          &nbsp;
          <input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">
          <input type="button" onclick="location.href='http://www.vimweekly.com/issues.xml'" value="RSS" name="subscribe" id="mc-embedded-subscribe" class="btn btn-warning">
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>

<br/>

<!-- we need to use a partial here -->

<%#<div class="announcement" style="background-color: #FCF0AD;border-bottom-left-radius: 1px;border: 1px solid #eec;border-radius: 5px;margin-bottom: 17px;color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;">%>
<%#<p style="margin-left: 8px;">Aloha vimmers! My big apologies for not publishing tips the past two weeks, we&#39;ve been busy at work trying to get a release&nbsp;out to QA. Vim Weekly is back in full swing and you should be expecting awesome tips delivered in&nbsp;your mailbox on Sundays!<br>%>
<%#<br>%>
<%#<strong>NOTE</strong>:<br>%>
<%#Vim Weekly is community driven and it is highly influenced by the tips you send, so please don&#39;t hesitate to send that productivity booster you use on a daily basis.<br>%>
<%#Finally as we all know Vim Weekly is an open source project and will always remain FREE from ads forever.&nbsp;Now&nbsp;to prevent the&nbsp;hiatus that happened the past couple of weeks I would like other members to help with the publications/ have write access to the project -&nbsp;Just incase I get hit by a bus :-)&nbsp;<br>%>
<%#<br>%>
<%#- Tawheed</p>%>
<%#</div>%>
<div class="row">
  <div class="span10">
    <div class="div-on-left">
      <%= render 'issue' %>
    </div>
  </div>
</div>
