<h1 class="div-on-left">Archives</h1>
<div class="row">
<% @issues.each_with_index do |(key, value), index| %>
  <!-- If it is an even issue, display it in the left column
  else display it in the right colum-->
  <% if (index % 2 == 0) %>
    <div class="span5">
    <div class="div-on-left">
  <% else %>
    </div>
    <div class="span5">
  <% end %>
  <h4><a href="Issue 1">Issue #1 — November 12, 2010</a></h4>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <br/>

  </div>
<% end %>
</div> <!-- end of row -->
