<h1 class="div-on-left">Archives</h1>
<div class="row">
  <div class="span5">
    <div class="div-on-left">
<% 
  id = 0 
  @issues.each do |x|
    if (id != x.id)
  %>
  <h4><a href="issues/<%= x.id %>">Issue # <%= x.id %> — <%= x['release_date'] %></a></h4>
  <% 
     id = x.id
    end
  %>
<ul>
  <li>
  <%= x.summary %>
  </li>
</ul>
  <% end %>
    </div>
  </div>
  <br />
</div> <!-- end of row -->
