<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>Vim Weekly</title>
    <link>http://www.vimweekly.com/</link>
    <description>5 vim tips every Mondays</description>
    <% @issues.each do |val| %>
      <item>
        <title><%= val.summary %></title>
        <pubDate><%= Date.parse(val['release_date']).rfc2822%></pubDate>
        <description>
          <%= replace_special_chars val.code.to_s %>
        <%= replace_special_chars val.description.to_s %>
        </description>
      </item>
    <% end %>
  </channel>
</rss>
