
<div class="row">
  <div class="span5">
    <div class="div-on-left">
      <h1>Five vim tips for your week</h1>
      <br/>
      <p>Vim is awesome, fun and powerful! Vim has lots of hidden features that we
      don't use. Every monday, we send 5 tips that can help boost your vim productivity
      you can think of it as one tip per day!</p>
      <br/>
      <a href="archives.html" class="btn btn-success btn-large btn-wide">
        View Archives<br/>
        <small>Past issues of vim-weekly</small>
      </a>
    </div>
  </div>
  <div class="span5">
    <!-- can contain a video, image, etc-->
    <img src="/assets/vim-editor_logo.png" alt="code environment"/>
    <!-- <iframe src="http://player.vimeo.com/video/1970676?title=0&amp;byline=0&amp;portrait=0" width="500" height="282"></iframe> -->
  </div> 
</div><!-- end of inner .row-->

<br/>

<br/>
<div class="row">
  <div class="span9 offset40px">
    <div class="well email-subscribe">
      <div id="mc_embed_signup" class="center-align">
        <form action="http://pizzabox.us4.list-manage.com/subscribe/post?u=3b47a1485e96c3923dccb1e5a&amp;id=c6499cc83d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank">
          <label for="mce-EMAIL">Already integrated with <em>MailChimp</em> accounts:</label>
          &nbsp;
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" >
          &nbsp;
          <input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>

<br/>



<div class="row">
  <div class="span10">
    <div class="div-on-left">
      <h4><a href="Issue 1">Issue #1 — January 18, 2014</a></h4>
      <br/>
      <strong> <p>Tip 1</p></strong>
      <br/>
      <strong> <p>Tip 2</p></strong>
      <br/>
      <strong> <p>Tip 3</p></strong>
      <br/>
      <strong> <p>Tip 4</p></strong>
      <br/>
      <strong> <p>Tip 5</p></strong>
      <br/>
    </div>
  </div>
</div>
