<div class="row" >
  <div class="span10 pagination-centered">
    <div class="div-on-left">
      <h3>Admin Panel</h3>
      <h2>Add an entry to the database</h2>
      <div class="panel-body">
        <form accept-charset="UTF-8" role="form">
          <fieldset>
            <div class="form-group">
              <input class="form-control" placeholder="E-mail" name="email" type="text">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Password" name="password" type="password" value="">
            </div>
            <div class="form-group">
              <input class="btn  btn-success" type="submit" value="Create">
            </div>
          </fieldset>
        </form>
      </div>

    </div>

  </div>

</div>
